{
  "plugins": ["@babel/plugin-transform-runtime", "@babel/plugin-syntax-dynamic-import", ],
  "presets": [
    "@babel/preset-env",
  ],
  "env": {
    "test": {
      "presets": [
        "@babel/preset-env",
      ]
    }
  },
  "sourceMaps": true,
  "retainLines": true
}