{
  "plugins": ["syntax-dynamic-import", "transform-runtime"],
  "presets": [
    "es2015",
    "stage-0"
  ],
  "env": {
    "test": {
      "presets": [
        "es2015",
        "stage-0"
      ]
    }
  },
  "sourceMaps": true,
  "retainLines": true
}